html {
  height: 100%;
}

body {
  margin: 0;
  /* padding: 20%; */
  padding-top: 0%;
  font-family: sans-serif;
  background-image: url("pexels-photo-97050.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: 100%;
}

#root {
  border-radius: 10px;
  min-height: 70%;
}

#gameContainer, #newsSourceSelectorContainer, #quizContainer {
  border-radius: 5px;
  padding: 2%;
  padding-top: 1%;
  margin: 5%;
}

#gameContainer {
  margin-top: 2%;
}

#newsSourceSelectorContainer, #quizContainer {
  margin-top: 0%;
  margin-bottom: 3%;
}

#quizContainer {
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
}

#questionsContainer {
  flex: 1;
  min-width: 350px;
  max-width: 400px;
  overflow: scroll;
  padding-right: 2%;
}

#articleInfo {
  flex: 1;
  min-width: 350px;
  text-align: center;
  padding: 2%;
  margin-left: 10%;
  overflow: scroll;
  color: white;
  background: rgb(123, 123, 123, .85);
  border-radius: 4px;
}

a {
  color: lightblue !important;
} 

#header {
  margin-top: 3%;
  padding: 1%;
  background-color: white;
}

#headerWelcome {
  font-size: 2em;
  text-align: center;
}

#headerPoweredBy {
  border-radius: 5px;
  float: right;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
}

.possibleHeadline {
  font-size: 1.2em;
}

.componentTitle {
  color: white;
}